#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.category-filter {
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #eee;
  padding: 14px 0;
  position: relative;
}

.filter-btn {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #333;
  padding: 10px 0;
  position: relative;
  white-space: nowrap;
}

.filter-btn:hover {
  color: #ee4d2d;
}

/* Gạch đỏ giống Shopee */
.filter-btn.active::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #77e2f2;
}

/* Dropdown */
.more {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 120%;
  left: 0;
  background: #fff;
  width: 180px;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: none;
  padding: 8px 0;
  z-index: 10;
}

.more:hover .dropdown {
  display: block;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f5f5f5;
  color: #ee4d2d;
}

.filter-btn {
  width: auto !important;
  display: inline-block;
}